absl-py
accelerate
aiohttp
aiosignal
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
backcall
beautifulsoup4
benepar
bertviz
black
bleach
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cmake
colorama
commonmark
confection
contourpy
cryptography
cycler
cymem
datasets
debugpy
decorator
deepspeed
defusedxml
diffusers
dill
diskcache
docker-pycreds
einops
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
entrypoints
evaluate
executing
faiss-gpu
fastjsonschema
filelock
Flask
fonttools
frozenlist
fsspec
fst-pso
FuzzyTM
gdown
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
gptcache
graphviz
grpcio
guidance
hiredis
hjson
huggingface-hub
icecream
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jellyfish
Jinja2
jmespath
joblib
jsonlines
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keybert
kiwisolver
langcodes
lightning-utilities
lit
llvmlite
manifest-ml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
miniful
mistune
more-itertools
mpmath
msal
multidict
multiprocess
munkres
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
numba
numpy
oauthlib
openai
packaging
pandas
pandocfilters
parso
path
pathspec
pathtools
pathy
patsy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
preshed
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pyFUME
Pygments
pygtrie
PyJWT
pynndescent
pyparsing
pyrsistent
PySocks
pytextrank
python-dateutil
python-json-logger
python-ulid
pytz
PyYAML
pyzmq
qtconsole
QtPy
rake-nltk
redis
redis-om
regex
requests
requests-oauthlib
responses
retrying
rsa
s3transfer
safetensors
scikit-learn
scipy
seaborn
segtok
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
shortuuid
simpful
six
smart-open
smmap
sniffio
snorkel
soupsieve
spacy-legacy
spacy-loggers
sqlitedict
srsly
stack-data
statsmodels
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
terminado
textblob
threadpoolctl
tiktoken
tinycss2
tokenizers
tomli
tornado
tqdm
traitlets
transformers==4.36.0
triton
typer
types-pyOpenSSL
types-redis
typing_extensions
ujson
umap-learn
urllib3
wandb
wasabi
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
xxhash
yake
yarl
zipp
zstandard
